.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.round {
  border-radius: 999px;
}
.shadow {
  box-shadow: var(--shadow);
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.w-100 {
  width: 100%;
}
